$color-principal: black;
$color-secundario: white;
$medida-principal: 250px;
$bgcolor-anim1: rgb(252, 6, 59);
$bgcolor-anim2: rgb(218, 26, 26);
$bgcolor-anim3: rgb(0, 30, 199);
$bgcolor-anim4: rgb(22, 128, 177);
$bgcolor-anim5: rgb(252, 6, 59);
$bgcolor: rgb(252, 6, 59);
